body{
  background-image: url("../images/escheresque_ste.png");
}

.jumbotron {
  text-align: center;
  color: white !important;
  background-color: transparent !important;
}

h1{
  font-size: 32px;
  color: #68a0b0;
}

h2{
  font-size: 28px;
  color: #68a0b0;
}

h3{
  color: #50C878 !important;
}

h4{
  color: #a7d8de !important;
}

.col, .col-sm {
  text-align: center;
}

.container {
  background-color: rgba(234,235,230,.2);
  margin: 0 auto;
  padding: 10px;
  border: 2px solid  #9966cc;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

#buttons {
  margin-top: 20px;
}

.targetScore, .userScore{
  border: 1px solid #50C878;
  height: 100px;
  width: 100px;
  font-size: 65px;
  text-align: center;
  color: white;
}

.crystal-button{
  background-image: url("../images/crystal1.jpg");
  background-repeat: no-repeat;
  height: 100px;
  width: 82px;
  margin: 0px 10px 0px 10px;
}
/* removes blue outline on button when clicked*/
button:focus {
  outline: 0;
}

.instructionsContainer h2{
  text-align: center;
  color: #fff;
  margin: 20px 0px;
}

.instructionsContainer ol{
  padding: 0 20% 50px 20%;
  line-height: 1.5em;
  height: auto;
  color: white;
}

#start {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

#start:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}

#start:active {
	position:relative;
	top:1px;
}

.effect8{
     box-shadow: 0 10px 6px -6px #777;
}
